.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  background: #f7f7f7 url('/img/background.png');
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.buttonsLine {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  display: inline-block;
  padding: 0 5px 0 5px;
}