/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2fa4da;
  --ifm-color-primary-dark: #2496ca;
  --ifm-color-primary-darker: #228ebf;
  --ifm-color-primary-darkest: #1c759d;
  --ifm-color-primary-light: #45aede;
  --ifm-color-primary-lighter: #51b3e0;
  --ifm-color-primary-lightest: #72c2e6;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #2fa4da;
  --ifm-color-primary-dark: #2496ca;
  --ifm-color-primary-darker: #228ebf;
  --ifm-color-primary-darkest: #1c759d;
  --ifm-color-primary-light: #45aede;
  --ifm-color-primary-lighter: #51b3e0;
  --ifm-color-primary-lightest: #72c2e6;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

/* Header */
.header-gitlab-link:before {
  content: "";
  width: 40px;
  height: 40px;
  display: flex;
  background: url('/img/gitlab-icon-rgb.svg') no-repeat
}
.header-feed-link:before {
  content: "";
  width: 28px;
  height: 28px;
  display: flex;
  background: url('/img/feed.png') no-repeat
}
.hero__subtitle {
  margin-top: 20px;
}

/* Main - list of projects*/
.projectBox {
  padding: 10px;
  background: #ffffff;
}
.projectBox a {
  border-color: var(--ifm-color-primary);
}

html[data-theme='dark'] .projectBox,
html[data-theme='dark'] .features_src-pages- {
  background-color: #000000;
}

/* Footer - Copyleft */
.footer__copyright ul {
  display: inline-block;
  background: rgba(255,255,255,0.05);
  border-radius: 5px;
  margin: 0;
  padding: 5px 15px 5px 15px;
}
.footer__copyright ul li {
  display: inline-block;
  border-left: solid 1px rgba(255,255,255,0.05);
  padding: 0 0 0 1em;
  margin: 0 0 0 1em;
}
.footer__copyright ul li:first-child {
  border-left: 0;
  padding-left: 0;
  margin-left: 0;
}

.features_src-components-HomepageFeatures-styles-module {
  padding-bottom: 1rem !important;
}
.col--4 {
  padding-bottom: 1rem;
}
